<html>
  <head></head>

  <body>
   <h1>Books#index</h1>
   <p>Find me in app/views/books/index.html.erb</p>


      <h1>Books</h1>
      <%= @books.each do |book| %>

      <b>Title</b>
      <span><%= book.title %></span>

      <b>Body</b>
      <span><%= book.body %></span>


      <% end %>


    <footer></footer>
  </body>
</html>